header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./images/background.jpg);
    background-position: center;
    background-size: cover;
}

section div .card {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./images/smallbg.jpg);
    background-position: center;
    background-size: cover;
}